<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Guide</title>
</head>
<body>
    <h1>NYC Guide</h1>
    
    <p>Time to relax and enjoy the city! Check out the activities for each borough!</p>
    
    <ul>
        {% for borough in boroughs %}
        <li><a href="{% url 'borough' borough %}">{{borough|title}}</a></li>
        {% endfor %}
    </ul>
    
</body>
</html>